<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 1" alt=""></td>
        <td><a href="{{site.baseurl}}/notes/Unit1/">Unit 1</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit2/">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit3/">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit4/">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit5/">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit6/">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit7/">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit8/">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/notes/Unit9/">Unit 9</a></td>
    </tr>
</table>